<footer class="site-footer">

  <div class="container">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>


      <div class="footer-wrap">

        <div class="footer-col footer-col-2">

	
         <ul class="footer-ul">
	    {% if site.email %} <li class="footer-li"><a class="footer-a mail" href="mailto:{{ site.email }}"></a></li> {% endif %}
	    {% if site.github_username %} <li class="footer-li"><a class="footer-a git" href="https://github.com/{{ site.github_username }}" target="_blank"></a></li> {% endif %}
	    {% if site.instagram %} <li class="footer-li"><a class="footer-a insta" href="https://www.instagram.com/{{ site.instagram }}" target="_blank"></a></li> {% endif %}
        </ul>


       </div>

       <div class="footer-col footer-col-3">
         <p>{{ site.description | escape }}</p>
       </div>

      </div>

  </div>

</footer>
